@charset "utf-8";
@use "../../global/_" as g;
.l-gnav {
	@include g.smMax {
		position: fixed;
		left: 0;
		top: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		padding: 80px 15px 15px;
		background: rgba(g.$black, 0.9);
		opacity: 0;
		overflow-y: auto;
		overscroll-behavior-y: contain;
		pointer-events: none;
		@include g.transition;

		._gnav-show_ & {
			z-index: 1;
			opacity: 1;
			pointer-events: auto;
		}
	}
	&__list {
		@include g.smMin {
			display: flex;
		}
	}
	&__item {
		@include g.smMax {
			display: flex;
			align-items: center;
			padding: 15px 10px;
			border-bottom: 1px solid rgba(g.$white, 0.4);
			font-size: g.$fz-m;
			
			&:first-child {
				border-top: 1px solid rgba(g.$white, 0.4);
			}
		}
		@include g.hover {
			.c-gnav__link::before {
				width: 100%;
			}
		}
	}
	&__link {
		@include g.smMin {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 80px;
			padding: 0 20px;
			color: g.$baseColor;
			text-decoration: none;

			&::before {
				position: absolute;
				left: 50%;
				bottom: 0;
				z-index: 5;
				content: '';
				width: 0;
				height: 3px;
				background: g.$baseColor;
				backface-visibility: hidden;
				transform: translateX(-50%);
				@include g.transition;
			}
		}
		@include g.smMax {
			color: g.$white;
			text-decoration: none;
		}
		.__ico {
			margin: 0 10px 0 0;
			@include g.smMin {
				display: none;
			}
		}
	}
}
