@charset "utf-8";
@use "../../global/_" as g;

.c-error {

    .c_mv {

        .c_ttl {
            font-size: clamp(3.6rem, -0.775rem + 9.11vw, 7.2rem);

            @include g.smMax {
                font-size: 2rem;
            }

        }

    }

    .c_ttl {
        @include g.font-mincho;
        font-size: clamp(2.4rem, 1.428rem + 2.03vw, 3.2rem);
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 60px;

        &::before {
            content: none;
        }

        @include g.smMax {
            margin-bottom: 30px;
        }

    }

    &__txt {
        font-size: clamp(1.5rem, 1.378rem + 0.25vw, 1.6rem);
        text-align: center;
        line-height: 2;
        margin-bottom: 80px;

        @include g.smMax {
            margin-bottom: 40px;
        }

    }

    .c_btn {
        margin: 0 auto;
    }

}
