@charset "utf-8";
@use "../../global/_" as g;

.c-index-news {
    margin-bottom: 200px;

    @include g.smMax {
        margin-bottom: 60px;
    }

    &__info {
        width: min(1280px,90%);
        margin: 0 auto 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include g.smMax {
            flex-direction: column;
            gap: 20px;
        }

        &--ttl {
            font-size: clamp(2.4rem, 1.428rem + 2.03vw, 3.2rem);
            font-weight: 700;
            line-height: 1;
        }

        &--btn {
            display: flex;
            align-items: center;
            gap: 12px;

            .slick-arrow {
                width: 120px;
                height: unset;
                padding: 11px 16px;
                position: unset;
                border: 1px solid g.$line01;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transform: unset;

                &::before {
                    content: none;
                }

                .__img {
                    width: 6px;
                }

                &.slick-prev {

                    .__img {
                        transform: rotate(-180deg);
                    }

                }

            }

            .__sub {
                @include g.font-en;
                font-size: 1.5rem;
                line-height: 1;
                color: g.$baseColor;
            }

        }

    }

    &-slider {
        margin-bottom: 45px;

        @include g.smMax {
            margin-bottom: 40px;
        }

        &__item {
            max-width: 480px;
            margin: 0 20px;
            background: g.$bg01;
            border: 1px solid g.$bg01;
            border-radius: 4px;
            padding: 20px;
            display: block;
            transition: all 0.3s;

            @include g.smMax {
                margin: 0 10px;
            }

            &--inner {
                margin-bottom: 20px;
                display: flex;
                align-items: stretch;
                justify-content: space-between;
            }

            &--info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &--img {
                width: min(200px,45%);
            }

            &--ttl {
                font-size: clamp(1.6rem, 1.357rem + 0.51vw, 1.8rem);
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                transition: all 0.3s;
            }

            &:hover {
                background: g.$white;
                border: 1px solid g.$subColor02;

                .c-index-news-slider__item--ttl {
                    color: g.$mainColor01;
                }

            }

        }

    }
    
}

.c-index-company {
    width: min(1600px,90%);
    margin: 0 auto 160px 0;
    display: flex;
    align-items: flex-start;
    gap: 80px;

    @include g.mdMax {
        flex-direction: column;
        margin: 0 auto 160px;
    }

    @include g.smMax {
        margin: 0 auto 60px;
        gap: 24px;
    }

    &__img {
        width: calc(47% - 40px);
        padding-left: 40px;

        @include g.mdMax {
            width: min(800px,100%);
            padding-left: 0;
        }
    }

    &__info {
        width: 53%;

        @include g.mdMax {
            width: 100%;
        }

        .c_ttl {
            margin-bottom: 45px;

            @include g.smMax {
                margin-bottom: 20px;
            }

        }

        &--catch {
            @include g.font-mincho;
            font-size: clamp(2.4rem, -0.516rem + 6.08vw, 4.8rem);
            font-weight: 900;
            line-height: 1.5;
            margin-bottom: 45px;
            display: flex;
            justify-content: space-between;
            gap: 15px;

            @include g.mdMax {
                justify-content: flex-start;
            }

            @include g.smMax {
                margin-bottom: 20px;
            }

            &::before {
                content: "";
                background: url(../img/common/ico_emphasis-start.svg) no-repeat center / 100%;
                width: 35px;
                height: 28px;

                @include g.smMax {
                    width: 18px;
                    height: 14px;
                }

            }

            &::after {
                content: "";
                background: url(../img/common/ico_emphasis-end.svg) no-repeat center / 100%;
                width: 35px;
                height: 28px;
                margin: auto 0 0 0;

                @include g.smMax {
                    width: 18px;
                    height: 14px;
                }

            }

        }

        &--txt {
            font-size: clamp(1.5rem, 1.378rem + 0.25vw, 1.6rem);
            font-weight: 500;
            line-height: 2;
            margin-bottom: 35px;
        }

        .c_btn {
            margin: 0 auto 0 0;
        }

    }

}

.c-index-slide {

    .slick-track {
        display: flex;
        align-items: center;
    }

    &__item {
        margin: 0 30px;

        .__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.small {
            margin: 0;
        }

    }
    
}

.c-index-works {
    background: g.$bg01;
    padding: 260px 0 160px;
    margin: -150px 0 0;

    @include g.smMax {
        padding: 240px 0 60px;
    }

    @include g.xsMax {
        padding: 160px 0 60px;
    }

    &__inner {
        width: min(1280px,90%);
        margin: 0 auto;
    }

    &-info {
        margin-bottom: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .c_btn {
            margin: 0;
        }

    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 55px;

        @include g.smMax {
            flex-direction: column;
            gap: 30px;
        }

        &__item {
            width: calc((100% - 110px) / 3);

            @include g.mdMax {
                width: calc((100% - 55px) / 2);
            }

            @include g.smMax {
                width: 100%;
            }

            &--img {
                width: 100%;
                aspect-ratio: 5/3;
                margin-bottom: 20px;
                transition: all 0.3s;

                @include g.smMax {
                    margin-bottom: 15px;
                }

                .__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }

            }

            &--info {
                margin-bottom: 20px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 40px;

                @include g.smMax {
                    margin-bottom: 15px;
                }

                .__time {
                    margin: 0;
                }

            }

            &--ttl {
                font-size: clamp(1.6rem, 1.467rem + 0.28vw, 1.8rem);
                font-weight: 500;
                line-height: 1.5;
                transition: all 0.3s;
            }

            &:hover {

                .c-index-works-list__item--img {
                    opacity: 0.7;
                }

                .c-index-works-list__item--ttl {
                    color: g.$mainColor01;
                }

            }

        }

    }

}

.c-index-service {
    background: g.$mainColor01;
    padding-bottom: 80px;
    margin-bottom: 100px;

    &__catch {
        @include g.font-mincho;
        font-size: clamp(2rem, 0.667rem + 2.78vw, 4rem);
        font-weight: 900;
        text-align: center;
        line-height: 1.5;
        color: g.$white;
        padding: 80px 0;
        display: flex;
        justify-content: center;

        @include g.smMax {
            padding: 40px 0;
        }

        &::before {
            content: "";
            background: url(../img/common/ico_emphasis-start.svg) no-repeat center / 100%;
            width: 35px;
            height: 28px;

            @include g.smMax {
                width: 18px;
                height: 14px;
            }

        }

        &::after {
            content: "";
            background: url(../img/common/ico_emphasis-end.svg) no-repeat center / 100%;
            width: 35px;
            height: 28px;
            margin: auto 0 0 0;

            @include g.smMax {
                width: 18px;
                height: 14px;
            }

        }

    }

    &__inner {
        width: min(1760px,90%);
        margin: 0 auto;
        padding: 80px 14%;
        background: g.$white;
        border-radius: 24px;

        @include g.lgMax {
            padding: 80px 5%;
        }

        @include g.smMax {
            width: 100%;
            padding: 30px 5% 40px;
            border-radius: 0;
        }

        .c_ttl {
            width: fit-content;
            margin: 0 auto 45px;
        }

    }

    &__detail {
        display: flex;
        align-items: flex-start;
        gap: 4%;

        @include g.smMax {
            flex-direction: column;
            gap: 8px;
        }

        &--img {
            width: 50%;
            position: relative;
            aspect-ratio: 1;

            @include g.smMax {
                width: 100%;
            }

            &-list {
                position: absolute;
                top: 0;
                left: 0;
                inset: 0;
                opacity: 0;
                transition: opacity .3s ease;

                &.is-active {
                    opacity: 1;
                    z-index: 2;
                }

            }

        }

        &--list {
            width: 46%;
            counter-reset:order 0;

            @include g.smMax {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 15px;
            }

            &-inner {

                @include g.smMax {
                    width: calc((100% - 15px) / 2);
                }

            }

            .__link {
                font-size: clamp(1.4rem, 0.467rem + 1.94vw, 2.8rem);
                font-weight: 700;
                line-height: 1.35;
                padding: 20px 15px;
                border-bottom: 2px solid g.$line01;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: all 0.3s;

                @include g.smMax {
                    padding: 18px 8px;
                }

                .__sub {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    @include g.smMax {
                        gap: 8px;
                    }

                    &::before {
                        @include g.font-en;
                        font-size: clamp(2.8rem, 1.467rem + 2.78vw, 4.8rem);
                        font-weight: 500;
                        line-height: 1;
                        color: g.$mainColor01;
                        width: 56px;
                        padding-top: 5px;
                        counter-increment:order 1;
                        content: "0" counter(order);

                        @include g.smMax {
                            width: 35px;
                        }

                    }

                }

                &::after {
                    content: "";
                    width: 18px;
                    height: 18px;
                    border-radius: 50px;
                    background: url(../img/common/ico_arrow-blue.svg) no-repeat center / 18px;
                }

                &.is-not-hovered {
                    opacity: 0.7;
                }

            }

        }

    }

}

.c-index-recruit {
    width: min(1840px,90%);
    margin: 0 auto 160px;

    &__top {
        display: flex;
        align-items: stretch;
        gap: 80px;

        @include g.mdMax {
            gap: 40px;
        }

        &--img01 {
            width: min(320px,20%);
            aspect-ratio: 1;
            margin: 0 0 auto 0;
            background: url(../img/top/pic_recruit01.png) no-repeat center / 100%;
        }

        &--catch {
            width: min(454px,35%);
            max-height: 320px;
            aspect-ratio: 454/113;
            background: url(../img/top/pic_recruit-write.svg) no-repeat center / 100%;
            display: flex;
            align-items: center;
        }

        &--img02 {
            width: min(400px,25%);
            aspect-ratio: 1;
            margin: 80px 80px 0 0;
            background: url(../img/top/pic_recruit02.png) no-repeat center / 100%;
        }

    }

    &__bottom {
        margin-top: -80px;
        display: flex;
        align-items: flex-end;

        @include g.mdMax {
            margin-top: -40px;
        }

        &--img03 {
            width: 720px;
            aspect-ratio: 720/480;
            margin: 0 80px 0 0;
            background: url(../img/top/pic_recruit03.png) no-repeat center / 100%;

            @include g.mdMax {
                margin: 0 40px 0 0;
            }

        }

        &--img04 {
            width: 280px;
            aspect-ratio: 1;
            margin: 0 60px 0 0;
            background: url(../img/top/pic_recruit04.png) no-repeat center / 100%;
        }

        &--img05 {
            width: 360px;
            aspect-ratio: 1;
            margin-bottom: 240px;
            background: url(../img/top/pic_recruit05.png) no-repeat center / 100%;

            @include g.mdMax {
                margin-bottom: 120px;
            }

        }

        &--info {
            margin: 0 60px 100px 0;
            display: flex;
            flex-direction: column;
            gap: 80px;

            @include g.mdMax {
                margin: 0 40px 20px 0;
                gap: 40px;
            }

        }

    }

}

.c-index-recruit-sp {
    margin-bottom: 60px;

    &__inner {
        width: 90%;
        margin: 0 auto;
    }

    &__info {
        width: fit-content;
        margin: -30px 5% 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

}

