@charset "utf-8";
@use "../../../global/_" as g;
.e-form-text {
	display: inline-block;
	width: 100%;
	padding: 5px 10px;
	background: g.$white;
	color: g.$baseColor;
	
	&._w-m_ {
		max-width: 350px;
	}
	&._w-s_ {
		max-width: 100px;
	}
	&._w-a_ {
		width: auto;
	}
}
