@charset "utf-8";
@use "../../global/_" as g;

.c_ttl {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	
	.__en {
		@include g.font-en;
		font-size: clamp(1.6rem, 1.114rem + 1.01vw, 2rem);
		font-weight: 500;
		line-height: 1;
		color: g.$mainColor01;
		padding-left: 24px;
		position: relative;
		overflow: hidden;
		display: inline-flex;

		&::before {
			content: "";
			width: 16px;
			aspect-ratio: 16/12;
			background: url(../img/common/ico_ttl.svg) no-repeat center / 100%;
			position: absolute;
			left: 0;
			top: 2px;
		}

		.__up {
			transform: translate(0px, 100%);
			transition: transform 0.5s;

			&.is-inview {
				transform-origin: 50% 100%;
    			transform: translate(0px, 0%);
    			display: inline-block;
    			opacity: 1;

				&:nth-of-type(2) {
					transition-delay: 0.1s;
				}

				&:nth-of-type(3) {
					transition-delay: 0.2s;
				}

				&:nth-of-type(4) {
					transition-delay: 0.3s;
				}

				&:nth-of-type(5) {
					transition-delay: 0.4s;
				}

				&:nth-of-type(6) {
					transition-delay: 0.5s;
				}

				&:nth-of-type(7) {
					transition-delay: 0.6s;
				}

				&:nth-of-type(8) {
					transition-delay: 0.7s;
				}

				&:nth-of-type(9) {
					transition-delay: 0.8s;
				}

				&:nth-of-type(10) {
					transition-delay: 0.9s;
				}

				&:nth-of-type(11) {
					transition-delay: 1s;
				}

				&:nth-of-type(12) {
					transition-delay: 1.1s;
				}

				&:nth-of-type(13) {
					transition-delay: 1.2s;
				}

				&:nth-of-type(14) {
					transition-delay: 1.3s;
				}

			}

		}

	}

	.__ja {
		font-size: clamp(3.2rem, 0.284rem + 6.08vw, 5.6rem);
		font-weight: 700;
		overflow: hidden;
		display: inline-flex;

		.__up {
			transform: translate(0px, 100%);
			transition: transform 0.5s;

			&.is-inview {
				transform-origin: 50% 100%;
    			transform: translate(0px, 0%);
    			display: inline-block;
    			opacity: 1;

				&:nth-of-type(2) {
					transition-delay: 0.1s;
				}

				&:nth-of-type(3) {
					transition-delay: 0.2s;
				}

				&:nth-of-type(4) {
					transition-delay: 0.3s;
				}

				&:nth-of-type(5) {
					transition-delay: 0.4s;
				}

				&:nth-of-type(6) {
					transition-delay: 0.5s;
				}

				&:nth-of-type(7) {
					transition-delay: 0.6s;
				}

				&:nth-of-type(8) {
					transition-delay: 0.7s;
				}

				&:nth-of-type(9) {
					transition-delay: 0.8s;
				}

				&:nth-of-type(10) {
					transition-delay: 0.9s;
				}

				&:nth-of-type(11) {
					transition-delay: 1s;
				}

				&:nth-of-type(12) {
					transition-delay: 1.1s;
				}

				&:nth-of-type(13) {
					transition-delay: 1.2s;
				}

				&:nth-of-type(14) {
					transition-delay: 1.3s;
				}

				&:nth-of-type(15) {
					transition-delay: 1.4s;
				}

				&:nth-of-type(16) {
					transition-delay: 1.5s;
				}

				&:nth-of-type(17) {
					transition-delay: 1.6s;
				}

				&:nth-of-type(18) {
					transition-delay: 1.7s;
				}

			}

		}

	}

	&.pg_ttl {
		width: fit-content;
		margin: auto;
		align-items: center;
	}

}